@model IEnumerable<DMSTask.DAL.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<div class="x_container">
<form asp-controller="Customers" asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="filter" value="@(ViewData["Filter"])"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </p>
</form>

<table class="table stripe row-border order-column table table-striped jambo_table bulk-action table-bordered table-sm table-hover before-table" style="text-align: center;">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDescriptionEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDescriptionAr)
            </th>
            <th>Edit</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDescriptionEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDescriptionAr)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerCode" class="btn btn-primary ED" style="margin-top:3px"> Edit</a>

                        
            </td>
               <td>

                        <a asp-action="Details" asp-route-id="@item.CustomerCode" class="btn btn-success ED" style="margin-top:3px">Details</a> @*|*@
               </td> 
        </tr>
}
    </tbody>
</table>
</div>